<div class="dashboard-wrap">
  <%= render "/shared/sidebar"%>

  <div class="dashboard-content">
    <div class="padding-box">
      <div id="events_calendar">
        <%= render "shared/week_calendar", availabilities: @availabilities, techs: @techs.work_next_week %>
      </div>
      <div class="row card-container">
        <h4><strong>Bookings à valider</strong></h4>
        <% @bookings.each do |booking| %>
          <div class="col-xs-3 card small-card">
            <%= render "shared/small_booking_card", booking: booking %>
            <div class="text-center">
              <%= simple_form_for [@user.role, booking] do |f| %>
                <div class="availabilities-fields"></div>
                <%= f.button :submit %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
