<div class='container'>
  <div class='text-center'>
    <h1>Créer une réservation</h1>
  </div>
  <%= simple_form_for [:manager, @booking] do |f| %>
    <div class='row'>
      <div class='col-md-6'>
        <%= f.fields_for :address_attributes do |ff| %>
          <div data-controller='address'>
            <%= ff.input :address1, label: "Adresse", input_html: {data: {'action': "keyup->address#search"}, target: 'address.search'} %>
          </div>
        <% end %>
        <%= f.input :product_id, label: "Produit", collection: @products.to_a, label_method: lambda { |product| "#{product.label}" } %>
      </div>
      <div class='col-md-6'>
        <%= f.input :reference,  label: "Numéro d'affaire" %>
        <%= f.input :company_id, label: "Client",           collection: Company.all %>
        <%= f.input :foreman_id, label: "Chef de chantier", collection: Foreman.all %>
        <%= f.input :pdf, label: "Bon de commande", as: :attachinary %>
      </div>
    </div>
    <table class='table tableAvailabilities'>
      <tbody>
        <% @availabilities.each do |days| %>
          <% days.each_with_index do |day_items, day_item_index| %>
            <tr>
            <% day_items.each_with_index do |item, item_index| %>
               <% if day_item_index.even? && item_index.zero? %>
                <td rowspan='2' class='tech'><%= item.first_name %></td>
               <% else %>
                 <% if item.booking %>
                   <td class='danger'>
                     <%= item.booking.company.name %>
                   </td>
                 <% else %>
                   <td>
                     <%= check_box_tag 'booking[availability_ids][]', item.id, false %>
                   </td>
                 <% end %>
               <% end %>
            <% end %>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= react_component 'HelloWorld' %>
    <div class='text-center'>
      <%= f.input :send_confirmation_email, label: "Envoyer mail de confirmation", as: :boolean %>
      <%= f.submit 'Enregistrer la réservation' %>
    </div>
  <% end %>
</div>
