<div class='container'>
  <%= simple_form_for [:manager, Booking.new] do |f| %>
    <div class='row'>
      <div class='col-md-6'>
        <%= f.input :address, label: "Adresse" %>
        <%= f.input :product_id, label: "Produit", collection: @products.to_a, label_method: lambda { |product| "#{product.label}" } %>
      </div>
      <div class='col-md-6'>
        <%= f.input :reference, label: "Numéro d'affaire" %>
        <%#= f.input :company_id, label: "Produit", collection: @products.to_a, label_method: lambda { |product| "#{product.label}" } %>
        <%= f.input :pdf, label: "Bon de commande", as: :attachinary %>
      </div>
    </div>
  <% end %>
</div>
