<div class='container'>
  <div class='text-center'>
    <h1>Créer une réservation</h1>
  </div>
  <%= simple_form_for [:manager, @booking] do |f| %>
    <div class='row'>
      <div class='col-md-6'>
        <%= f.fields_for :address_attributes do |ff| %>
          <%= ff.input :address1, label: "Adresse" %>
        <% end %>
        <%= f.input :product_id, label: "Produit", collection: @products.to_a, label_method: lambda { |product| "#{product.label}" } %>
      </div>
      <div class='col-md-6'>
        <%= f.input :reference, label: "Numéro d'affaire" %>
        <%= f.input :company,   label: "Client", collection: Company.all %>
        <%= f.input :pdf, label: "Bon de commande", as: :attachinary %>
      </div>
    </div>
    <%= react_component 'HelloWorld' %>
    <div class='text-center'>
      <%= f.input :send_confirmation_email, label: "Envoyer mail de confirmation", as: :boolean %>
      <%= f.submit 'Enregistrer la réservation' %>
    </div>
  <% end %>
</div>
