<div class="full-screen-wrapper-with-navbar background-login flexbox">
  <div class="sign-up-box">
    <div class="login-top">
      <%= render "devise/shared/links" %>
    </div>
    <div class="flexbox text-center">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
            <div class="row">
                <h4><strong>Nouvel utilisateur</strong></h4>
                <%= f.input :email, required: true, autofocus: true %>
                <%= f.input :first_name, label: "Prénom", required: true %>
                <%= f.input :last_name, label: "Nom", required: true %>
                <%= f.input :company_id, label: "Entreprise", collection: Company.all.to_a, label_method: lambda { |company| "#{company.name}" } %>
                <%= f.input :branch_id, label: "Branche", collection: Branch.all.to_a, label_method: lambda { |branch| "#{branch.name}" } %>
                <%= f.input :role, label: "Rôle", collection: ["particulier", "pro", "technician", "manager"] %>
                <%= f.input :phone %>
                <%= f.input :password, required: true, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length) %>
                <%= f.input :password_confirmation, required: true %>
              </div>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Créer mon compte" %>
            </div>
          <% end %>


    </div>
  </div>
</div>

