<h4>Créer Nouvelle branche</h4>
<%= simple_form_for [@user.role, Branch.new]  do |f| %>
  <%= f.input :company_id, required: true, label: "Appartenant à l'entreprise..", collection: Company.all.to_a, label_method: lambda { |company| "#{company.name}" } %>
  <%= f.input :name, required: true %>
  <%= f.input :city, required: true %>
  <%= f.input :zipcode, required: true %>
  <%= f.submit %>
<% end %>
