<div class="dashboard-wrap">
  <%= render "/shared/sidebar"%>
  <div class="dashboard-content">
    <div class="padding-box">

      <ul class="nav nav-tabs" role="tablist">
        <% @techs.each do |tech| %>
          <li role="presentation" class="<%= tech == @techs.first ? "active" : "" %>">
            <a href="#tech-<%= tech.id %>" aria-controls="tech-<%= tech.id %>" role="tab" data-toggle="tab">
              <h4><strong><%= tech.first_name %></strong></h4>
            </a>
          </li>
        <% end %>
      </ul>

      <div class="tab-content">
        <% @techs.each do |tech| %>
            <div role="tabpanel" class="tab-pane <%= tech == @techs.first ? "active" : "" %>" id="tech-<%= tech.id %>">
              <div id="<%= tech.first_name %>_events_calendar">
                <%#= render "shared/calendar", availabilities: @availabilities.of(tech), tech: tech %>
              </div>
            </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
