<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ajouter un Chef de Chantier</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@user.role, Foreman.new] do |f|%>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :phone %>
          <%= f.hidden_field :branch_id, value: @user.branch_id %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
