<div class="card-container">
  <%= month_calendar(start_date_param: :my_date,
                     attribute: :date,
                     number_of_days: 20,
                     events: @availabilities) do |date, availabilities| %>
    <div class="date-day"><%= date.day %></div>
    <div class="cell-content">
      <div class="btn-container">
        <% unless availabilities.empty? %>

          <% morning_availability = availabilities.find { |availability| availability.half == "matin" } %>
          <% unless morning_availability.nil? %>
            <div class="btn-calendar btn-calendar-<%= morning_availability.status %>" data-availability-id="<%= morning_availability.id %>" >
              <%= morning_availability.half %>
              <%= morning_availability.status %>
            </div>
          <% end %>

          <% afternoon_availability = availabilities.find { |availability| availability.half == "aprem" } %>
          <% unless afternoon_availability.nil? %>
            <div class="btn-calendar btn-calendar-<%= afternoon_availability.status %>" data-availability-id="<%= afternoon_availability.id %>" >
              <%= afternoon_availability.half %>
              <%= afternoon_availability.status %>
            </div>
          <% end %>

        <% end %>
      </div>
    </div>
  <% end %>
</div>
