<div class="card-container">
<% if @user.pro? %>
  <h4><strong>Bonjour <%= @user.first_name %></strong>, choisissez vos dates :</h4>
<% end %>
  <%= month_calendar(start_date_param: :start_date,
                     attribute: :date,
                     number_of_days: 20,
                     previous_link: events_ajax_previous_link,
                     next_link: events_ajax_next_link,
                     events: @availabilities) do |date, availabilities| %>
    <div class="date-day"><%= date.day %></div>
    <div class="cell-content">
      <div class="btn-container">
        <% unless availabilities.empty? %>

          <% morning_availability = availabilities.find { |availability| availability.half == "matin" } %>
          <% unless morning_availability.nil? %>
            <div class="btn-calendar btn-calendar-<%= morning_availability.status %>" data-availability-id="<%= morning_availability.id %>" >
              <% morning_availabilities = availabilities.map { |a| a if a.matin? && a.free? }.compact %>
              <% if morning_availabilities.count == 0 %>
                <p>Complet</p>
              <% elsif morning_availabilities.count == 1 %>
                <p>Plus que <strong>1</strong> dispo</p>
              <% else %>
                <p>Disponible</p>
              <% end %>
            </div>
          <% end %>

          <% afternoon_availability = availabilities.find { |availability| availability.half == "aprem" } %>
          <% unless afternoon_availability.nil? %>
            <div class="btn-calendar btn-calendar-<%= afternoon_availability.status %>" data-availability-id="<%= afternoon_availability.id %>" >
              <% afternoon_availabilities = availabilities.map { |a| a if a.aprem? && a.free? }.compact %>
              <% if afternoon_availabilities.count == 0 %>
                <p>Complet</p>
              <% elsif afternoon_availabilities.count == 1 %>
                <p>Plus que <strong>1</strong> dispo</p>
              <% else %>
                <p>Disponible</p>
              <% end %>
            </div>
          <% end %>

        <% end %>
      </div>
    </div>
  <% end %>
</div>
