<div class="card-container">
  <table class="table table-hover hidden-xs">
    <thead>
      <h4 class="hidden-xs"><strong>Liste de vos interventions</strong></h4>
      <%= render "shared/search_bar_bookings" %>
      <tr>
        <th scope="col">Numéro d'affaire</th>
        <th scope="col">Commandé le</th>
        <th scope="col">Entreprise</th>
        <th scope="col">Client</th>
        <th scope="col">Adresse</th>
        <th scope="col">Durée</th>
        <th scope="col">Date</th>
        <th scope="col">BdC</th>
        <th class="text-center" scope="col">PV</th>
        <th scope="col">Détails</th>
      </tr>
    </thead>
    <tbody>
      <% unless bookings.nil? %>
        <% bookings.each do |booking| %>
          <tr>
            <th scope="row">#<%= booking.reference %></th>
            <td><%= booking.created_at.strftime("%d/%m/%y") %></td>
            <td><%= booking.user.company.name %></td>
            <td><%= booking.user.first_name + ' ' + booking.user.last_name %></td>
            <td><%= booking.address.full_address %></td>
            <td><%= booking.availabilities.size.odd? ? "#{booking.availabilities.size} ½j" : "#{booking.availabilities.size / 2} j" %></td>
            <td>
              <% if @user.manager? && booking.availabilities.first.pending? %>
                <%= link_to "Valider dates", manager_planning_path %>
              <% else %>
                <% booking.availabilities.map do |availability| availability.date end.uniq.sort.each do |date| %>
                  <p><%= date.strftime("%d/%m/%y") %></p>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if booking.pdf? %>
                <%= link_to(content_tag(:i, nil, class: 'fa card-icon fa-file-text-o'), cloudinary_url(booking.pdf.path), target: :_blank) %>
              <% else %>
                <i class="fa card-icon fa-file-text-o" style="color: gray"></i>
              <% end %>
            </td>
            <td>
              <% if booking.report.signed? %>
                <%= link_to(content_tag(:i, nil, class: 'fa fa-eye card-icon'), [@user.role, booking.report])%>
                <%= link_to(content_tag(:i, nil, class: 'fa fa-file-pdf-o card-icon'), [@user.role, booking.report, format: :pdf, target: :_blank])%>
              <% elsif booking.report.progress > 0 %>
                <%= booking.report.progress %> %
              <% else %>
                <i class="fa fa-eye card-icon" style="color: gray"></i>
                <i class="fa fa-file-pdf-o card-icon" style="color: gray"></i>
              <% end %>
            </td>
            <td><%= link_to [@user.role, booking] do %>
                <i class="fa card-icon fa-eye"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <table class="table table-hover hidden-sm hidden-md hidden-lg hidden-xl">
    <thead>
      <h4 class="hidden-sm hidden-md hidden-lg hidden-xl"><strong>Liste de vos interventions</strong></h4>
        <tr>
          <th scope="col">Affaire</th>
          <th scope="col">Infos</th>
          <th scope="col">Détails</th>
        </tr>
    </thead>
    <tbody>
      <% unless bookings.nil? %>
        <% bookings.each do |booking| %>
          <tr>
            <td><strong><%= booking.user.company.name %></strong> <br> <%= booking.reference %> <br> <%= booking.created_at.strftime("%d/%m/%y") %> </td>
            <td><%= booking.product.label %> <br> <%= booking.city %></td>
            <td class='text-center'><%= link_to [@user.role, booking] do %>
                <i class="fa fa-eye"></i>
              <% end %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%= content_for :after_js do %>
  <script>
    var client = algoliasearch("<%= ENV['ALGOLIA_APP_KEY'] %>", "<%= ENV['ALGOLIA_SEARCH_KEY'] %>");
    var index = client.initIndex('Booking', 'Company');
    //initialize autocomplete on search input (ID selector must match)
    autocomplete('#aa-search-input',
    { hint: false }, {
        source: autocomplete.sources.hits(index, {hitsPerPage: 5}),
        //value to be displayed in input control after user's suggestion selection
        displayKey: 'booking',
        //hash of templates used when rendering dataset
        templates: {
            //'suggestion' templating function used to render a single suggestion
            suggestion: function(suggestion) {
              return '<div class="flexbox flex-start"><div><img style="margin-right: 6px" src="'
                      + suggestion.company.logo
                      + '"></div><div><p><strong>'
                      + suggestion._highlightResult.company.company.value + '</strong> ' + suggestion._highlightResult.user.first_name.value + ' ' + suggestion._highlightResult.user.last_name.value + ' - ' + suggestion._highlightResult.reference.value
                      + '</p><i style="font-weight: lighter">' + suggestion._highlightResult.product.label.value + '</i></div></div>';
            }
        }
    }).on('autocomplete:selected', function(event, suggestion, dataset) {
    location.href = 'bookings/' + suggestion.id;
  });;
  </script>
<% end %>

<div class="flexbox">
  <img src="http://res.cloudinary.com/zanzibar/image/upload/c_scale,w_65/v1518599861/zwlkjqyosshsij9v2n4d.jpg" alt="">
<div>

  <p><strong>Colas </strong>Jean Marcelus</p>
  <i><strong>Colas </strong>Jean Marcelus</i>
</div>
</div>
