<% technician = booking.availabilities.first.user %>
<div class="card flexbox">
  <div class="flexbox card-left">
    <div class="card-logo">
      <% unless technician.company.photo.nil? %>
        <%= cl_image_tag technician.company.photo.public_id, height: 110, width: 110, crop: :pad, class: "card-logo" %>
      <% end %>
    </div>

    <div class="card-middle no-margin flexbox-vertical align-center">
      <h5 class="no-margin"><%= technician.company.name %></h5>
      <p><strong><%= booking.address1 %> - <%= booking.city %></strong></p>
      <p>Technicien: <%= technician.first_name %> <%= technician.last_name %></p>
      <p>Chef de Chantier: <%= booking.has_foreman.first_name %> <%= booking.has_foreman.last_name %></p>
      <p>Statut de la demande : <strong><%= booking.availabilities.first.status %></strong></p>
    </div>
  </div>

  <div class="card-right">
    <% booking.availabilities.order(:date).each do |availability| %>
      <span><p class="card-date"><%= availability.date.strftime("%d %b") %> <%= availability.half %></p></span>
    <% end %>
    <div class="card-links flex-horizontal">
      <%= link_to "tel:#{booking.foreman_id}" do %>
        <i class="card-icon fa fa-phone" aria-hidden="true"></i>
      <% end %>
      <% if @user.manager? %>
        <%= link_to manager_booking_path(booking) do %>
          <i class="card-icon fa fa-eye" aria-hidden="true"></i>
        <% end %>
        <% elsif @user.technician? %>
          <%= link_to technician_booking_path(booking) do %>
            <i class="card-icon fa fa-eye" aria-hidden="true"></i>
          <% end %>
        <% elsif @user.pro? %>
          <%= link_to pro_booking_path(booking) do %>
          <i class="card-icon fa fa-eye" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
