<% if availability.booking_id.nil? %>
  <div class="calendar-card">
      <p><%= availability.half %></p>
      <p><%= availability.user.first_name %></p>
      <p><%= availability.status %></p>
    </div>
  </div>
<% else %>
  <div class="calendar-card">
    <div class="flexbox">
      <%= cl_image_tag availability.booking.user.company.photo.public_id, height: 50, width: 50, crop: :pad, class: "mini-card-logo" %>
      <div class="booking-info">
        <p><strong><%= availability.booking.user.company.name %></strong><br>
        <%= availability.booking.address1 %><br>
        <%= availability.booking.city %><%= availability.booking.zipcode %></p>
      </div>
    </div>
    <div class="booking-actions flex-stretch">
      <div class="flexbox flex-end">
        <%= simple_form_for [@user.role, availability.booking] do |f| %>
          <div class="availabilities-fields"></div>
          <%= f.hidden_field :booking, value: availability.booking %>
          <%= f.button :button, class: 'small-icon' do %>
            <i class="fa fa-edit invert-<%= availability.status %>-color" aria-hidden="true"></i>
          <% end %>
        <% end %>
        <p><strong><%= availability.booking.reference %></strong></p>
      </div>
    </div>
  </div>
<% end %>
