<%= month_calendar(attribute: :date, events: @availabilities.of(tech)) do |date, availabilities| %>
  <div class="date-day"><%= date.day %></div>
  <div class="cell-content">
    <div class="btn-container">
      <% availabilities.each do |availability| %>

        <div class="btn-calendar <%= availability.status? ? "btn-calendar-tobook" : "btn-calendar-booked" %>">
          <%= availability.half == 0 ? "matin" : "aprem" %>
          <%= availability.status == false ? "Occupé" : "libre" %>

          <% if user.technician? %>
            <% if availability.booking_id.nil? %>
              <%= simple_form_for([user.role, availability]) do |f| %>
                <%= f.hidden_field :status, value: !availability.status %>
                <%= f.submit "Modifier" %>
              <% end %>
            <% end %>

          <% elsif user.manager? %>
            <% if availability.booking_id.nil? %>
              <%= simple_form_for([user.role, availability]) do |f| %>
                <%= f.hidden_field :user_id, value: tech.id %>
                <%= f.hidden_field :status, value: !availability.status %>
                <%= f.submit "Modifier" %>
              <% end %>
            <% end %>

          <% end %>
        </div>

      <% end %>
    </div>
  <% end %>
</div>
