<div class="card-container">

  <%= month_calendar(start_date_param: :start_date,
                     number_of_days: 20,
                     attribute: :date,
                     previous_link: events_ajax_previous_link,
                     next_link: events_ajax_next_link,
                     events: availabilities) do |date, availabilities| %>

  <div class="date-day"><%= date.day %></div>
  <div class="cell-content">
    <div class="btn-container">
      <% availabilities.sort_by(&:half).reverse!.each do |availability| %>
        <div class="btn-calendar btn-calendar-<%= availability.status %>" data-availability-id="<%= availability.id %>" >
          <% if @user.technician? %>
            <% if availability.booking_id.nil? %>
              <%= availability.status %>
            <% else %>
              <%= link_to technician_booking_path(availability.booking_id) do %>
                <p><%= availability.booking.user.company.name %></p>
              <% end %>
            <% end %>

          <% elsif @user.manager? %>
              <%= render "shared/update_availability_form", user: @user, availability: availability, tech: tech %>
            <% if availability.booking_id.nil? %>
            <% else %>
              <%= link_to manager_booking_path(availability.booking_id) do %>
                <div class="calendar-card">
                  <%= cl_image_tag availability.booking.user.company.photo.public_id, height: 50, width: 50, crop: :pad, class: "card-logo" %>
                  <div>
                    <h7><%= availability.booking.user.company.name %></h7>
                    <p><%= availability.booking.address.city %> - <%= availability.booking.reference %></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>

        </div>
      <% end %>

      <!-- Si il n'y a pas d'availability -->
      <% if @user.manager? %>

        <% if availabilities.select { |av| av[:half] == "matin" }.empty? && date.future? %>
          <div class="btn-calendar">
            <%= simple_form_for([@user.role, Availability.new]) do |f| %>
              <%= f.hidden_field :user_id, value: tech.id %>
              <%= f.hidden_field :date, value: date %>
              <%= f.hidden_field :half, value: "matin" %>
              <%= f.button :button, class: 'small-icon' do %>
              <i class="fa fa-plus small-icon" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <% if availabilities.select { |av| av[:half] == "aprem" }.empty? && date.future? %>
          <div class="btn-calendar">
            <%= simple_form_for([@user.role, Availability.new]) do |f| %>
              <%= f.hidden_field :user_id, value: tech.id %>
              <%= f.hidden_field :date, value: date %>
              <%= f.hidden_field :half, value: "aprem" %>
              <%= f.button :button, class: 'small-icon' do %>
                <i class="fa fa-plus small-icon" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>

