<div class="card-container">
  <h4><strong>Emploi du temps de <%= tech.first_name %></strong></h4>
  <%= month_calendar(attribute: :date, events: @availabilities.of(tech)) do |date, availabilities| %>
    <div class="date-day"><%= date.day %></div>
    <div class="cell-content">
      <div class="btn-container">
        <% availabilities.each do |availability| %>

          <div class="btn-calendar btn-calendar-<%= availability.status %>" data-availability-id="<%= availability.id %>" >
            <%= availability.half %>

            <% if user.technician? %>
              <% if availability.booking_id.nil? %>
                <%= availability.status %>
              <% else %>
                <%= availability.booking.user.company.name %>
                <%= availability.booking.address1 %> <%= availability.booking.city %>
                <%= link_to(content_tag(:i, nil, class: 'fa card-icon fa-eye'), technician_booking_path(availability.booking_id))%>
              <% end %>
            <% elsif user.manager? %>
              <% if availability.booking_id.nil? %>
                <%= simple_form_for([user.role, availability]) do |f| %>
                  <%= f.hidden_field :user_id, value: tech.id %>
                  <% if availability.free? %>
                    <%= f.hidden_field :status, value: "leave" %>
                  <% else %>
                    <%= f.hidden_field :status, value: "free" %>
                  <% end %>
                  <%= f.submit "Modifier" %>
                <% end %>
              <% end %>

            <% end %>
          </div>

        <% end %>
      </div>
    <% end %>
  </div>
</div>
