<div class="card-container report">
  <div class="row">
    <div class="col-xs-6 client-company flexbox no-padding">
      <% unless client.company.photo.nil? %>
        <%= cl_image_tag client.company.photo.public_id, height: 100, width: 100, crop: :pad, class: "card-logo" %>
      <% end %>
      <div>
        <h7><strong><%= client.company.name %></strong></h7>
        <p><%= client.branch.name %></p>
        <p><%= client.branch.city %>, <%= @user.branch.zipcode %></p>
      </div>
    </div>
    <div class="col-xs-6 tech-company flexbox no-padding">
      <% unless tech.company.photo.nil? %>
        <%= cl_image_tag tech.company.photo.public_id, height: 100, width: 100, crop: :pad, class: "card-logo" %>
      <% end %>
      <div>
        <h7><strong><%= tech.company.name %></strong></h7>
        <p><%= tech.branch.name %></p>
        <p><%= tech.branch.city %>, <%= @user.branch.zipcode %></p>
      </div>
    </div>
    <h4 class="col-xs-12 text-center"><strong>Rapport de <%= @report.product.label %></strong></h4>
  </div>

  <%= simple_form_for([@user.role, @report]) do |m| %>
    <% @report.sections.uniq.sort_by(&:id).each do |section| %>
      <div id="Section-<%= section.id %>" class="row report-section">
      <h4><strong><%= section.name %></strong></h4>
        <% @report.questions.where(section: section).each do |question| %>
        <% answer = @report.answers.where(question: question) %>
          <div class="text-left col-xs-12 col-md-6">
            <%= m.simple_fields_for :answers, answer do |p|%>
              <% unless p.object.question.input_type.nil? %>
                <%= p.input p.object.question.input_type.to_sym, {as: p.object.question.display, label: p.object.question.name }.merge( p.object.question.option_choice_id? ? {collection: p.object.question.option_choices} : {}) %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="row report-section">
      <%= m.input :photos, as: :attachinary %>
    </div>
    <div class="row report-section">
      <label for="">Signature du chef de chantier</label>
      <%= m.input_field :signature, as: :hidden, class: 'signature_pad_input' %>
      <div class="signature_pad text-center">
        <div class="signature_pad_body">
          <canvas></canvas>
        </div>
        <div class="signature_pad_footer">
          <div class="text-muted">Signez ci-dessus</div>
          <button type="button" class="btn btn-default signature_pad_clear">Clear</button>
        </div>
      </div>
    </div>
    <%= m.button :submit, 'Save', class: 'btn btn-success signature_pad_save' %>

  <% end %>

</div>
