<div class="card-container report">
  <div class="flexbox">
    <div class="client-company flexbox">
      <% unless client.company.photo.nil? %>
        <%= cl_image_tag client.company.photo.public_id, height: 150, width: 150, crop: :pad, class: "card-logo" %>
      <% end %>
      <div>
        <h4><strong><%= client.company.name %></strong></h4>
        <h6><%= client.branch.name %></h6>
        <h6><%= client.branch.city %>, <%= @user.branch.zipcode %></h6>
    </div>
  </div>
  <div class="tech-company flexbox">
    <% unless tech.company.photo.nil? %>
      <%= cl_image_tag tech.company.photo.public_id, height: 150, width: 150, crop: :pad, class: "card-logo" %>
    <% end %>
    <div>
      <h4><strong><%= tech.company.name %></strong></h4>
      <h6><%= tech.branch.name %></h6>
      <h6><%= tech.branch.city %>, <%= @user.branch.zipcode %></h6>
    </div>
  </div>
</div>

  <h4 class="text-center"><strong>Rapport de <%= @report.booking.product.label %> #<%= @report.id %></strong>
    <%= link_to(content_tag(:i, nil, class: 'fa fa-eye'), technician_report_path(@report))%>
  </h4>

  <div class="">
  <!-- SECTION 1 -->
  <% section = @section1 %>
  <div id="Section-<%= section.id %>" class="row report-section">
    <h4 class="margin-bottom-small"><strong><%= section.name.capitalize %></strong></h4>
    <!-- Question 1 -->
    <% q = section.questions.first %>
    <div class="text-left col-xs-6">
      <%= simple_form_for q.answers.find_or_create_by(report: @report) do |f| %>
        <%= f.input :string, label: q.name, input_html: {value: "##{@booking.id} - #{@booking.city}" } %>
        <%= f.submit %>
      <% end %>
    </div>
    <!-- Question 2 -->
    <% q = section.questions.second %>
    <div class="text-left col-xs-6">
      <%= simple_form_for q.answers.find_or_create_by(report: @report) do |f| %>
        <%= f.input :string, label: q.name, input_html: {value: "#{@booking.user.first_name} #{@booking.user.last_name}" } %>
      <% end %>
    </div>
    <!-- Question 3 -->
    <% q = section.questions.third %>
    <div class="text-left col-xs-6">
      <%= simple_form_for q.answers.find_or_create_by(report: @report) do |f| %>
        <%= f.input :string, label: q.name %>
      <% end %>
    </div>
    <!-- Question 4 -->
    <% q = section.questions.fourth %>
    <div class="text-left col-xs-6">
      <%= simple_form_for q.answers.find_or_create_by(report: @report) do |f| %>
        <%= f.input :string, label: q.name %>
      <% end %>
    </div>
    <!-- Question 5 -->
    <% q = section.questions.fifth %>
    <div class="text-left col-xs-12">
      <%= simple_form_for q.answers.find_or_create_by(report: @report) do |f| %>
        <%= f.input :string, label: q.name, input_html: {value: "#{@booking.has_foreman.first_name} #{@booking.has_foreman.last_name} (Chef de chantier) - #{@booking.availabilities.first.user.first_name} #{@booking.availabilities.first.user.last_name} (Responsable géodétection)" } %>
      <% end %>
    </div>
  </div>

  <!-- Section 2 -->
  <% section = @section2 %>
  <div id="Section-<%= section.id %>" class="row report-section">
    <h4 class="margin-bottom-small"><strong><%= section.name.capitalize %></strong></h4>
    <div class="text-left col-xs-12 form-group string">
      <label for="">Adresse des travaux</label>
      <p><%= booking.address %></p>
    </div>
    <% q = section.questions.second %>
    <div class="text-left col-xs-12">
      <%= simple_form_for q.answers.find_or_create_by(report: @report) do |f| %>
        <%= f.input :string, label: q.name %>
      <% end %>
    </div>
    <% q = section.questions.third %>
    <div class="text-left col-xs-6">
      <%= simple_form_for q.answers.find_or_create_by(report: @report) do |f| %>
        <%= f.input :string, label: q.name %>
      <% end %>
    </div>
    <% q = section.questions.fourth %>
    <div class="text-left col-xs-6">
      <%= simple_form_for q.answers.find_or_create_by(report: @report) do |f| %>
        <%= f.input :string, label: q.name, collection: (1..99).to_a %>
      <% end %>
    </div>
  </div>

  <!-- Section 3 -->
  <% section = @section3 %>
  <div id="Section-<%= section.id %>" class="row report-section">
    <h4 class="margin-bottom-small"><strong><%= section.name.capitalize %></strong></h4>
      <% section.questions.each do |q| %>
        <div class="text-left col-xs-6">
          <%= simple_form_for q.answers.find_or_create_by(report: @report) do |f| %>
            <%= f.input q.input_type.to_sym, { as: :check_boxes, label: q.name }.merge( q.option_choice_id? ? {collection: q.option_choices} : {})   %>
          <% end %>
        </div>
    <% end %>
  </div>

  <!-- Section 4 -->
  <% section = @section4 %>
  <div id="Section-<%= section.id %>" class="row report-section">
    <h4 class="margin-bottom-small"><strong><%= section.name.capitalize %></strong></h4>

      <% q = section.questions.first %>
        <div class="text-left col-xs-12">
          <%= simple_form_for q.answers.find_or_create_by(report: @report) do |f| %>
            <%= f.input q.input_type.to_sym, { label: q.name }.merge( q.option_choice_id? ? {collection: q.option_choices} : {})   %>
          <% end %>
        </div>

      <% q = section.questions.second %>
        <div class="text-left col-xs-6">
          <%= simple_form_for q.answers.find_or_create_by(report: @report) do |f| %>
            <%= f.input q.input_type.to_sym, { collection: (1..99).to_a, label: q.name }.merge( q.option_choice_id? ? {collection: q.option_choices} : {})   %>
          <% end %>
        </div>
      <% q = section.questions.third %>
        <div class="text-left col-xs-12">
          <%= simple_form_for q.answers.find_or_create_by(report: @report) do |f| %>
            <%= f.input q.input_type.to_sym, { label: q.name }.merge( q.option_choice_id? ? {collection: q.option_choices} : {})   %>
          <% end %>
        </div>

  </div>
<!-- PICTURES -->
<%= simple_form_for [@user.role, @report] do |f| %>
  <%= f.input :photos, as: :attachinary %>
  <%= f.button :submit %>
<% end %>

<!-- SIGNATURES -->
