<div class="card-container report">

  <%= render "shared/report_header", report: @report %>

  <%= simple_form_for([@user.role, @report]) do |m| %>
    <% @questions_per_section.sort_by{ |section, _question| section.id }.each do |section, questions| %>
      <div id="Section-<%= section.id %>" class="row report-section">
      <h4><strong><%= section.name %></strong></h4>
        <% questions.each do |question| %>
          <div class="text-left col-xs-12 col-md-6">
            <div class="form-group check_boxes optional report_answers_option_choice_id">
            <label class="control-label check_boxes optional"><%= question.name %></label>

              <% if question.check_boxes? %>
                <% @answers_per_question[question].each_with_index do |answer, index| %>
                  <span class="checkbox">
                    <label for="report_answers_attributes_<%= 100 * question.id + index %>_option_choice_id_<%= answer.option_choice_id %>">

                      <input class="check_boxes optional" value="<%= answer.id %>" name="report[answers_attributes][<%= 100 * question.id + index %>][id]" type="hidden">
                      <input class="check_boxes optional" value="<%= question.id %>" name="report[answers_attributes][<%= 100 * question.id + index %>][question_id]" id="report_answers_attributes<%= 100 * question.id + index %>_question_id_<%= question.id %>" type="hidden">
                      <input class="check_boxes optional" value="true" name="report[answers_attributes][<%= 100 * question.id + index %>][multiple_answer]" id="report_answers_attributes<%= 100 * question.id + index %>_multiple_answer_<%= question.id %>" type="hidden">

                      <input class="check_boxes optional" value="<%= answer.option_choice_id %>" name="report[answers_attributes][<%= 100 * question.id + index %>][option_choice_id]" id="report_answers_attributes_<%= 100 * question.id + index %>_option_choice_id_<%= answer.option_choice_id %>" type="checkbox" <%= "checked" if answer.persisted? %>><%= answer.option_choice.name %>
                    </label>
                  </span>

                <% end %>
              <% else %>
                <%= m.simple_fields_for :answers, @answers_per_question[question] do |p|%>
                  <% options = question.option_choice_id? ? {collection: question.option_choices } : {} %>
                  <%= p.input :question_id, as: :hidden %>
                  <%= p.input question.input_type.to_sym, options.merge(as: question.display, label: false) %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="row report-section">
      <%= m.input :photos, as: :attachinary %>
    </div>
    <% unless @report.signed? %>
      <div class="row report-section">
        <label for="">Signature du chef de chantier</label>
        <%= m.input_field :signature, as: :hidden, class: 'signature_pad_input' %>
        <div class="signature_pad text-center">
          <div class="signature_pad_body">
            <canvas></canvas>
          </div>
          <div class="signature_pad_footer">
            <div class="text-muted">Signez ci-dessus</div>
            <button type="button" class="btn btn-default signature_pad_clear">Effacer</button>
          </div>
        </div>
      </div>
    <% end %>
    <%= m.button :submit, 'Save', class: 'btn btn-success signature_pad_save' %>

  <% end %>

</div>
