<div class="navbar-wagon" id="page0">
  <%= link_to root_path, class: "navbar-wagon-brand", id:"logo" do %>
    <%= image_tag "jfm-logo.png" %>
  <% end %>

  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <%= current_user.role %>
      <% if current_user.technician? %>
        <%= link_to t(".profile", default: "profil"), technician_user_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %>
      <% elsif current_user.particulier? %>
        <%= link_to t(".profile", default: "profil"), particulier_user_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %>
      <% elsif current_user.pro? %>
        <%= link_to "+ Réserver une détection", new_pro_booking_path, class: "btn-slim flexbox" %>
      <% end %>
      <%= link_to t(".sign_out", default: "déconnexion"), destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>
    <% else %>
      <%= link_to "Bienvenue", '/', class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Détection", '/detection', class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Diagnostic", '/diagnostic', class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "La société", '/societe', class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Se connecter", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>
  </div>
</div>

