<%= wicked_pdf_stylesheet_link_tag "application" -%>

<% if request.nil? || request.format == "application/pdf" %>
  <%= wicked_pdf_stylesheet_link_tag "pdf.css" -%>
<% end %>

<div class="card-container report">

  <%= render "shared/report_header", report: @report %>

    <% @sections.each do |section| %>
      <div id="Section-<%= section.id %>" class="row report-section nobreak">
        <h4 class="margin-bottom-small"><strong><%= section.name.capitalize %></strong></h4>
        <% section.questions.where(active: true).sort_by(&:order).each do |question| %>
          <div class="nobreak text-left col-xs-12 <%= section.name.include?("Précisions") ? "col-lg-6" : "col-lg-12" %>">
            <p><%= question.name %><strong>
            <% question.answers_for(@report).each do |answer| %>
              <%= answer %>
            <% end %></strong></p>
          </div>
        <% end %>
      </div>
    <% end %>

<!-- PICTURES -->
  <% if @report.photos? %>
  <div class="report-section nobreak">
    <h4><strong>Photos</strong></h4>
    <div class="flex-left">
      <% @report.photos.first(2).each do |photo| %>
        <%= cl_image_tag photo.path, width: 200, height: 300, crop: :fill, class: "report-photo" %>
      <% end %>

      <% if @report.photos.count > 2 %>
        <div class="report-cta flexbox report-photo">
          <p class="text-center"><strong><%= @report.photos.count - 2 %> photos restantes</strong><br>Demandez votre rapport photo (250€HT)</p>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>

<!-- SIGNATURES -->
  <div class="report-section row">
    <h4><strong>Signatures</strong></h4>
    <div class="col-xs-12 col-md-6">
      <% if @report.signed? %>
        <p><strong>Signature du client</strong></p>
        <div> <%= image_tag @report.signature %></div>
        <p> Signé le <%= @report.signed_on.strftime("%d/%m/%y à %Hh%M") %></p>
      <% else %>
        <p>En l'absence de signature et passé un délai de trois jours, la réception du Rapport de <%= @report.booking.product.label %> sera considérée comme complète.</p>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6">
      <p><strong>Signature de <%= @tech.company.name %></strong></p>
      <% if @tech.signature.present? %>
        <%= image_tag @tech.signature %>
      <% else %>
        Le technicien n'a pas enregistré sa signature
      <% end %>
    </div>
  </div>

</div>
