<%= wicked_pdf_stylesheet_link_tag "application" -%>

<% if request.format == "application/pdf" %>
  <%= wicked_pdf_stylesheet_link_tag "pdf.css" -%>
<% end %>

<div class="card-container report">

  <%= render "shared/report_header", report: @report %>

  <div>
    <% @sections.each do |section| %>
      <div id="Section-<%= section.id %>" class="row report-section">
        <h4 class="margin-bottom-small"><strong><%= section.name.capitalize %></strong></h4>
        <% section.questions.where(active: true).each do |question| %>
          <div class="text-left col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <label for=""><%= question.name %></label><br/>
            <% question.answers_for(@report).each do |answer| %>
              <p><%= answer %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
<!-- PICTURES -->
  <% if @report.photos? %>
  <div class="report-section">
    <h4><strong>Photos (<%= @report.photos.count %>)</strong></h4>
    <% @report.photos.each do |photo| %>
      <%= cl_image_tag photo.path, width: 200, height: 300, crop: :fill %>
    <% end %>
  </div>
  <% end %>

<!-- SIGNATURES -->
  <div class="report-section">
    <h4><strong>Signature</strong></h4>

    <% if @report.signed? %>
      <%= image_tag @report.signature %>
      <p> Signé le <%= @report.signed_on.strftime("%d/%m/%y à %Hh%M") %></p>
    <% else %>
      <p>En l'absence de signature et passé un délai de trois jours, la réception du Rapport de <%= @report.booking.product.label %> sera considérée comme complète.</p>
    <% end %>
  </div>

</div>
