<div class="sidebar">
  <% if current_user.particulier? %>
    <%= render "shared/sidebar-button", text: "Tableau de bord", icon: "eye", link: particulier_dashboard_path %>
    <%= render "shared/sidebar-button", text: "Bookings", icon: "list", link: particulier_bookings_path%>
    <%= render "shared/sidebar-button", text: "Informations", icon: "info", link: particulier_infos_path %>
    <%= render "shared/sidebar-button", text: "Mon profil", icon: "user", link: particulier_user_path(@user)%>
  <% elsif current_user.pro? %>
    <%= render "shared/sidebar-button", text: "Tableau de bord", icon: "eye", link: pro_dashboard_path %>
    <%= render "shared/sidebar-button", text: "Bookings", icon: "list", link: pro_bookings_path%>
    <%= render "shared/sidebar-button", text: "Rapports", icon: "folder-open", link: pro_reports_path%>
    <%= render "shared/sidebar-button", text: "Profil", icon: "user", link: pro_user_path(@user)%>
  <% elsif current_user.technician? %>
    <%= render "shared/sidebar-button", text: "Tableau de bord", icon: "eye", link: technician_dashboard_path %>
    <%= render "shared/sidebar-button", text: "Disponibilités", icon: "calendar", link: technician_availabilities_path %>
    <%= render "shared/sidebar-button", text: "Bookings", icon: "list", link: technician_bookings_path%>
    <%= render "shared/sidebar-button", text: "Rapports", icon: "folder-open", link: technician_reports_path%>
    <%= render "shared/sidebar-button", text: "Clients", icon: "group", link: technician_users_path%>
    <%= render "shared/sidebar-button", text: "Profil", icon: "user", link: technician_user_path(@user)%>
  <% elsif current_user.manager? %>
    <%= render "shared/sidebar-button", text: "Tableau de bord", icon: "eye", link: manager_dashboard_path %>
    <%= render "shared/sidebar-button", text: "Mon équipe", icon: "calendar", link: manager_availabilities_path %>
    <%= render "shared/sidebar-button", text: "Planning", icon: "calendar-check-o", link: manager_planning_path %>
    <%= render "shared/sidebar-button", text: "Bookings", icon: "list", link: manager_bookings_path%>
    <%= render "shared/sidebar-button", text: "Rapports", icon: "folder-open", link: manager_reports_path%>
    <%= render "shared/sidebar-button", text: "Clients", icon: "group", link: manager_users_path%>
    <%= render "shared/sidebar-button", text: "Profil", icon: "user", link: manager_user_path(@user)%>
  <% end %>
</div>
