<div class="dashboard-wrap">
  <%= render "/shared/sidebar"%>

  <div class="dashboard-content overflox-horizontal-hidden">
    <div class="padding-box">
      <div class="row">
        <div class= "col-md-12 col-lg-5 col-xl-4 card-container" id="map" style="height: calc(100vh - 110px);"></div>
        <div class="col-xs-12 col-lg-7 col-xl-8">
          <div class="card-container">
            <h4><strong>Bonjour <%= current_user.first_name %>, </strong> voilà tes prochaines missions </h4>

            <% @bookings_hash.each do |date, bookings|%>

              <div class="row">

                <% if bookings == 0 %>
                  <p>Rien de prévu</p>
                <% else %>
                  <% bookings.each do |booking| %>
                    <div class="col-xs-12 <%= bookings.count > 1 ? "col-md-6" : "" %>">
                      <%= render "shared/technician_booking_card", booking: booking, date: date, availability: Availability.where(booking: booking, date: date, user: @user).first %>
                    </div>
                  <% end %>
                <% end %>

              </div>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "shared/map", markers: @markers %>


