<div class="container padded-top">
  <div class="row">

    <div class="col-md-4" id="map" style="width: 50%; height: 600px;"></div>
    <div class="col-md-4">
      <%= simple_form_for(:booking, url: eligibility_path) do |f| %>
        <%= f.input :full_address, input_html: {value: params[:query][:address]} %>
        <%= f.input :street, input_html: {value: "#{@address_details[:street_number]} #{@address_details[:street]}"} %>
        <%= f.input :zip_code, input_html: {value: @address_details[:zip_code]} %>
        <%= f.input :city, input_html: {value: @address_details[:city]} %>
        <%= f.input :country, priority: [ 'FR' ], input_html: {value: @address_details[:country]} %>

          <div class="eligible-banner <%= 'hidden' unless @eligible %>">
            YAY
          </div>

          <div class="non-eligible-banner <%= 'hidden' if @eligible %>">
            NOPE NOPE
          </div>

        <%= f.submit class: 'btn btn-primary btn-eligibility', label: "Booker", disabled: !@eligible %>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @markers.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  <% end %>
<% end %>
