<div class="dashboard-wrap">
  <%= render "/shared/sidebar"%>
  <div class="dashboard-content">
    <div class="padding-box">

        <div class="col-xs-12 col-md-8">
          <%= render "/shared/profile" %>
        </div>

        <div class="col-xs-12 col-md-6">
          <%= simple_form_for [@user.role, @user] do |f| %>
          <%= f.input_field :signature, as: :hidden, class: 'signature_pad_input' %>
          <div class="signature_pad text-center">
            <div class="signature_pad_body">
              <canvas></canvas>
            </div>
            <div class="signature_pad_footer">
              <div class="text-muted">Signez ci-dessus</div>
              <button type="button" class="btn btn-default signature_pad_clear">Effacer</button>
            </div>
          </div>

          <%= f.button :submit, 'Sauvegarder ma signature', class: 'btn btn-success signature_pad_save' %>
          <% end %>

        </div>
      </div>

    </div>
  </div>
</div>
