<div class="dashboard-wrap">
  <%= render "/shared/sidebar"%>

  <div class="dashboard-content">
    <div class="padding-box">
      <h3 class="text-center">Technician#Bookings#index</h3>

          <div class="col-xs-12 col-md-6">
            <%= render "shared/booking_calendar", availabilities: @availabilities, user: @user, tech: User.where(role: 2).first %>
          </div>
          <div class="col-xs-12 col-md-6">
            <h4>Infos chantier</h4>
            <%= simple_form_for [@user.role, @booking] do |f| %>
              <div class="availabilities-fields"> <%# div pour injecter les avaialbilities via le JS %></div>
              <div class="gridtypes-fields"> <%# div pour injecter les gridtypes via le JS %></div>
              <%= f.input :address %>

              <%= f.hidden_field :address1 %>
              <%= f.hidden_field :city %>
              <div>
                <% GridType.all.each do |gridtype| %>
                  <p class="grid-type" data-gridtype-id="<%= gridtype.id %>"><%= gridtype.name %></p>
                <% end %>
              </div>
              <%= f.hidden_field :zipcode %>
              <%= f.hidden_field :country %>
              <%= f.input :surface %>
              <%= f.input :foreman_id, label: "Chef de chantier", collection: Foreman.where(branch_id: @user.branch_id).to_a, label_method: lambda { |foreman| "#{foreman.first_name} #{foreman.last_name}" } %>
              <%= f.input :comment %>
              <%= f.button :submit %>
            <% end %>
          </div>



    </div>
  </div>
</div>


