<div class="dashboard-wrap">
  <%= render "/shared/sidebar"%>

  <div class="dashboard-content">
    <div class="padding-box">
      <h3 class="text-center">Technician#Bookings#index</h3>
    </div>
      <h4>Disponibilités</h4>
    <%= render "shared/calendar", availabilities: @availabilities, user: @user %>
      <h4>Infos chantier</h4>
    <%= simple_form_for [@user.role, @booking] do |f| %>
      <%= f.input :address %>
      <%= f.input :surface %>
      <%= f.input :comment %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
