<h4><strong>Liste des Chefs de chantier existants</strong></h4>
<% @foremen.each do |foreman| %>
<div><%= foreman.first_name %> <%= foreman.last_name %> (<%= foreman.phone %>)</div>
<% end %>

<%= simple_form_for [@user.role, Foreman.new] do |f|%>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :phone %>
  <%= f.hidden_field :branch_id, value: @user.branch_id %>
  <%= f.button :submit, "Créer" %>
<% end %>
