<div class="dashboard-wrap">
  <%= render "shared/sidebar"%>

  <div class="dashboard-content with_right_sidebar">
    <div class="padding-box">
<!--       <%= content_for :rapport do %>
        <%= render "shared/_mp_report", booking: @booking, client: @client, tech: @tech %>
      <% end %> -->

      <%= @report.answers.each do |a| %>
        <%= a %>
      <% end %>
      <% if @report.photos? %>
        <%= "Le rapport contient #{@report.photos.size} photo" %>
        <% @report.photos.each do |photo| %>
          <%= cl_image_tag photo.path, width: 200, height: 300, crop: :fill %>
        <% end %>
      <% end %>

      <%= yield :rapport %>
      <%= link_to 'Create PDF document', pro_report_path(@report, :format => :pdf) %>
    </div>
  </div>
</div>
