<div class="navbar">
  <%= link_to root_path do %>
    <%= image_tag "jfm-logo.png", class: "navbar-brand" %>
  <% end %>

  <div class="navbar-center">
    <% if current_manager %>
        <%= render "shared/navbar/navbar_tab", text: "Tableau de bord", icon: "eye", link: [:manager, :dashboard] %>
        <%= render "shared/navbar/navbar_tab", text: "Bookings", icon: "list", link: [:manager, :bookings] %>
        <%= render "shared/navbar/navbar_tab", text: "Planning", icon: "calendar-check-o", link: manager_planning_path %>
    <% end %>
  </div>

  <div class="navbar-right">
    <%= link_to "Créer réservation", new_manager_booking_path, class: "btn" %>
    <% if current_manager %>
        <%= cl_image_tag current_manager.service_provider.photo.path, class: "avatar dropdown-toggle hidden-xs hidden-sm", id: "navbar-menu", 'data-toggle': "dropdown", height: 65, width: 65, crop: :pad %>
        <p>Bonjour, Joana</p>
    <% else %>
      <%= link_to "Se connecter", new_user_session_path, class: "navbar-item navbar-link btn-slim flexbox" %>
    <% end %>
  </div>
</div>
